# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.bak
*.swp
*~

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables and credentials
.env
*.env
google-credentials.json

# IDE specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# Others
.DS_Store
node_modules/
